.App {
  text-align: center;
}

.App-logo {
  display: flex;
  width:115%vw;
  height: 115%vh;
}


.App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#userimg{
	width: 100px;
	height: 100px;
}
#topic-text{
	color:white ;
	font-size:25px;
	font-family: 'Sintony', sans-serif;
	padding-left: 15%;
}
	
.ol{
	list-style-type: upper-roman;
}	
	

#button-text{

	font-family: 'Sintony', sans-serif;


}
#linkFile{
	color: White;
	font-size:25px;
	font-family: 'Sintony', sans-serif;
}
#open-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	padding: 10px;
}

.headercontainer{
	

  background-color: white;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.jscontainer{
	background:linear-gradient(to right, #0F277B, white);
	background:#0F277B;
	/* background: #0F277B; */
	display:flex ;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.htmlcontainer{
	background:#F31E76;
 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.csscontainer{
	background: #f6db18;
  
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

}

.gitcontainer{
	background:#F05A21;
  
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.reactcontainer{
	background: #F31E76;
 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.postgrescontainer{
	background:#0F277B;
  /* background:#1D90D6; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.nodecontainer{
  background:#f6db18;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.sqlcontainer{
  background:linear-gradient(to bottom right, red, yellow);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.reviewcontainer{
  background-color: #0F277B;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.footercontainer{
  background-color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.codelogo{
	display: inline;
	align-items: center;
	width:50px;
	

}